# public rules
*/*.class
*/*/*.class
*/*/*/*.class
*/*/*/*/*.class
*/*/*/*/*/*.class


### assignments ###

### labs ###
#lab complexity algorithm report
labs/complexity-expriment/lab-complexity-experiment-range-report.odt